.app {
  position: relative;
  padding: 65px 0 40px; }

.app > .footer {
  z-index: 999;
  position: fixed;
  bottom: 0;
  padding: 0 .3rem;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-image: -webkit-linear-gradient(top, #3c3c3c 0, #222 100%);
  background-image: -o-linear-gradient(top, #3c3c3c 0, #222 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3c3c3c), to(#222));
  background-image: linear-gradient(to bottom, #3c3c3c 0, #222 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3c3c', endColorstr='#ff222222', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  background-repeat: repeat-x; }

.app > .footer, .app > .footer a {
  color: #fff; }

/* LIST */
ul {
  list-style: none; }

/* AREA */
.a01 {
  padding: 0 0 0 10px; }
  .a01 .a01-1 {
    margin: 0 10px 0 -10px; }

@media screen and (max-width: 40em) {
  .a01 {
    padding: 0; }
    .a01 .a01-1 {
      margin: 0; } }

body {
  font-size: .875rem; }

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom; }

/* Sidebar */
.sidebar {
  position: static;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
  background-color: #404040; }

.sidebar-sticky {
  position: relative;
  top: 0;
  height: auto;
  padding-top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */ }

@supports (position: -webkit-sticky) or (position: sticky) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky; } }

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    padding-top: 55px; }
  .sidebar-sticky {
    height: calc(100vh - 48px); } }

.sidebar .nav-link {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 15px;
  color: #333;
  padding: 1.5rem; }

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999; }

.sidebar .nav-link, .sidebar .nav-link.active {
  color: #ffffff; }

.sidebar .nav-link.active {
  border-color: #fff;
  background-color: #303030; }

.sidebar .nav-link.disabled {
  border-color: transparent;
  background-color: transparent;
  opacity: 0.3;
  cursor: default; }

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit; }

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase; }
